<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content= "width=device-width, user-scalable=no">

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,700&family=Sora:wght@800&display=swap" rel="stylesheet">    <title>Periodic Table</title>
</head>
<body>
    <div id="app">
        <div id="out-table">
            <div id="table">
                <div id="wa"></div>
                <div id="wb"></div>
                <div id="wc"></div>
                <div id="wd"></div>
                <div id="we"></div>
                <div id="wf"></div>
                <div id="wg"></div>
                <div id="wz"></div>
                <div id="ele" v-for="element,index in elements" v-bind:class="blocks[index]" v-bind:data-atomic-target="atomicNo[index]">
                    <div class="atomic-number">{{ atomicNo[index]}}</div>
                    <div id="symbol">{{ symbols[index] }}</div>
                    <div id="name"><small> {{ element }} </small></div>
                </div>
            </div>
        </div>

        <div id="popup-info" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h1 id="popup-name"></h1>
              <br>
              <div id="table-2">
                <table id="tab1">
                        <tr v-for="info in infoTags1">
                            <th>{{ info[0] }}</th>
                            <td v-bind:id="info[1]"></td>
                        </tr>
                </table>

                <table id="tab2">
                    <tr v-for="info in infoTags2">
                        <th>{{ info[0] }}</th>
                        <td v-bind:id="info[1]"></td>
                    </tr>
                </table>
            </div>
            <div style="text-align: center;" >
            <a href="" id="read-more" target=”_blank”>Read More</a>
            </div>
            </div>
        </div>
    </div>
</body>
<script src="script.js"></script>

</html>