* {
    box-sizing: border-box;
    
  }
  body{
    background-color: black;
  }

html {
    font-size: 16px;
}
@media screen and (max-width: 480px) {
    html {
      font-size: 5px;
    }
  }


#ele {
    text-align: center;
    font-family: system-ui;
    padding: 0;
    border: 0.1px solid white;
    margin: 0;
}
.s {
    color: black;
    margin: 0;
    padding: 1em;
    border:0.1px solid white;
    text-align: center;
}
.d {
    background-color: #5d5d5d;
    color: white;
    margin: 0;
    padding: 1em;
    border:0.1px solid white;
    text-align: center;
}
.p {
    background-color: #f4b2f7;
    color: black;
    margin: 0;
    padding: 1em;
    border:0.1px solid white;
    text-align: center;  
}
.f {
    color: black;
    margin: 0;
    padding: 1em;
    border:0.1px solid white;
    text-align: center;  
}
.polyatomic-nonmetal {
    background-color: #02d4df;
}
.alkali {
    background-color: #00adb5;
}
.transition{
    color:white;
}
.alkali-earth {
    background-color: #a3f7bf;
}
.lan {
    background-color: #a3ffa8;
}
.act {
    background-color: #4db853;
}
.metalloid {
    background-color: #d876ff;
}
.halo {
    background-color: #2bbce4;;
    color: black;
}
.noble {
    background-color: #2bbce4;
}

    
#table {
    overflow: scroll;
    display: grid;
    grid-template-columns:  repeat(18, minmax(2.5em, 1fr));
    align-items: center;
    grid-template-areas:
        ".  wa wb wb wb wb wb wb wb wb wb wb wz wz wz wz wz ."
        ".  .  wb wb wb wb wb wb wb wb wb wb .  .  .  .  .  ."
        ".  .  wb wb wb wb wb wb wb wb wb wb .  .  .  .  .  ."
        ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
        ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
        ".  .  wc .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
        ".  .  wc .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
        "wd wd wd wd wd wd wd wd wd wd wd wd wd wd wd wd wd wd"
        "we we .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  wg"
        "wf wf .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  . ";
    border-collapse: collapse;
    
}
#table-2 {
    display: grid;
    grid-template-columns:  repeat(3, minmax(1fr));
    align-items: center;
    grid-template-areas:
        "tab1 vl tab2";
    border-collapse: collapse;
}
#tab1 {
    grid-area: tab1;
}
#tab2 {
    grid-area: tab2;
}
#vl {
    margin: 1em;
    width: 0em;
    border-left: 0.25em solid green;
    height: 12em;
  }

#wa {
    box-sizing: border-box;
    background-color: white;
    grid-area: wa;
}
#wb {
    box-sizing: border-box;
    background-color: white;
    grid-area: wb;
}
#wc {
    box-sizing: border-box;
    background-color: white;
    grid-area: wc;
}
#wd {
    box-sizing: border-box;
    background-color: white;
    grid-area: wd;
}
#we {
    box-sizing: border-box;
    background-color: white;
    grid-area: we;
}
#wf {
    box-sizing: border-box;
    background-color: white;
    grid-area: wf;
}
#wz {
    box-sizing: border-box;
    background-color: white;
    grid-area: wz;
}
#wg {
    box-sizing: border-box;
    background-color: white;
    grid-area: wg;
}

.atomic-number{
    padding-left: 8px;
    padding-top:  8px;
    text-align: left;
    font-size: 0.75rem;

}

#name {
    font-size: 0.75rem;  
    margin: 0.5em;
    margin-top: 0em;

}
#symbol {
    font-family: 'Karla', sans-serif;
    margin: 0.5em;
    margin-bottom: 0em;
    font-size: 1.25rem;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #f9f9f9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  table {
      border: #0089df;
  }
  td {
    text-transform: capitalize;
    text-align: center;
  }
  th {
      text-align: left;
  }